.title {
  text-transform: lowercase;
}

.subtitle {
  text-transform: uppercase;
}

.sliderContainer {
  position: relative;
  width: 100%;
}

.swiper {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
}

.customNavButtonPrev,
.customNavButtonNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4.5rem;
  height: 4.5rem;
  background-color: #ccccccdc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  color: #000;
  font-size: 3rem;
  user-select: none;
  transition: background-color 0.5s ease;
}

.customNavButtonPrev {
  left: 10px;
}

.customNavButtonNext {
  right: 10px;
}

.customNavButtonPrev:hover,
.customNavButtonNext:hover {
  background-color: #b6b6b6dc;
}

@media (max-width: 576px) {
  .title,
  .subtitle {
    text-align: center;
  }
}
