.card {
  max-width: 45rem;
  padding: 3rem 3rem 4rem 2.5rem;
  border-radius: 4.5rem;
  background: #fff;
  transition: transform 0.3s ease;
}

.title {
  font-weight: 400;
  color: #828282;
  margin-bottom: 1.5rem;
}
.subtitle {
  font-size: 2rem;
  font-weight: 300;
  max-width: 24rem;
  color: black;
}

@media (max-width: 992px) {
  .card {
    width: 35rem;
  }
}

@media (max-width: 768px) {
  .card {
    width: 28rem;
  }
}

@media (max-width: 576px) {
  .card {
    text-align: center;
    justify-content: center;
    width: 40rem;
    padding: 3rem 0 2rem 0;
  }
  .title,
  .subtitle {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

@media (max-width: 425px) {
  .card {
    width: 83%;
    padding: 2.4rem 3rem;
  }
  .card:not(:last-child) {
    margin-bottom: 2rem;
  }
  .subtitle {
    font-size: 2.2rem;
  }
}
