.footerContainer {
  background-color: rgba(0, 0, 0, 0.78);
  padding: 15rem 0;
  text-align: center;
  overflow: hidden;
}
.title {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 8rem;
  transition: transform 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}
.list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  max-width: 100rem;
  gap: 6rem;
  margin-bottom: 8rem;
  text-align: center;
}
.listItem {
  margin-right: 2rem;
  transition: transform 0.3s ease;
}
.listLink {
  text-decoration: none;
  color: white;
  line-height: 115%;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  transition: transform 0.3s ease;
}

.listItem:hover,
.listLink:hover,
.title:hover {
  transform: scale(1.05);
}

.copyright {
  text-align: center;
  font-weight: 300;
  font-size: 1.8rem;
  color: white;
}
.footerButtons {
  margin-bottom: 8rem;
}

@media (max-width: 576px) {
  .listItem {
    width: 20rem;
    margin: 0 auto;
  }
  .title {
    margin-bottom: 6rem;
  }
}

@media (max-width: 425px) {
  .footerContainer {
    padding: 12rem 0;
  }
  .title {
    font-size: 3rem;
  }
  .listLink {
    font-size: 2.2rem;
  }
  .icon {
    font-size: 10rem;
  }
  .copyright {
    width: 25rem;
    margin: 0 auto;
  }
}
