.cardsContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 3rem;
  margin-bottom: 14rem;
  justify-content: center;
  max-width: 1840px;
  margin-left: auto;
  margin-right: auto;
}

.cardsContainer > div:nth-child(1) {
  grid-column: 1;
  grid-column-end: span 2;
  grid-row: 1;
}

.cardsContainer > div:nth-child(2) {
  grid-column: 3;
  grid-column-end: span 2;
  grid-row: 1;
}

.cardsContainer > div:nth-child(3) {
  grid-column: 5;
  grid-column-end: span 2;
  grid-row: 1;
}

.cardsContainer > div:nth-child(4) {
  grid-column: 2;
  grid-column-end: span 2;
  grid-row: 2;
}

.cardsContainer > div:nth-child(5) {
  grid-column: 4;
  grid-row: 2;
  grid-column-end: span 2;
}

@media (max-width: 992px) {
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }

  .cardsContainer > div:nth-child(5) {
    display: none;
  }
}

@media (max-width: 425px) {
  .cardsContainer {
    gap: 0;
    margin-bottom: 8rem;
  }
}
