.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.5rem;
  background: white;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #636363;
  width: 45rem;
  position: absolute;
  top: 19rem;
  left: 5rem;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
}

.toolbar_visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.selectedCount {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.buttons {
  display: flex;
  gap: 2rem;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  color: #636363;
}

.button:hover {
  color: #000;
}

.iconSmall {
  width: 1.4rem;
  margin-right: 1.5rem;
  padding-top: 0.3rem;
}
.iconLarge {
  width: 2.2rem;
}

@media (max-width: 768px) {
  .toolbar {
    width: 30rem;
  }
}

@media (max-width: 576px) {
  .toolbar {
    top: 20rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 5.5rem;
  }
}

@media (max-width: 425px) {
  .toolbar {
    width: 90%;
    height: 6rem;
  }
  .iconSmall {
    width: 3rem;
  }
  .iconLarge {
    width: 4rem;
  }
}
