.image {
  width: 18rem;
  height: 35rem;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  transform: translateX(50%);
}

.image.visible {
  opacity: 1;
  transform: translateX(0%);
}

.image:nth-child(1).visible {
  transition-delay: 0.2s;
}

.image:nth-child(2).visible {
  transition-delay: 0.4s;
}

.image:nth-child(3).visible {
  transition-delay: 0.6s;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15rem;
}

.textContainer {
  padding-top: 2rem;
}

.title {
  text-transform: lowercase;
}

.subtitle {
  width: 51rem;
  margin-bottom: 4rem;
}

.description {
  width: 54rem;
  text-align: justify;
}

.imagesContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image {
  width: 18rem;
  height: 35rem;
  transition: 0.3s ease;
}

@media (max-width: 1200px) {
  .container {
    padding-top: 10rem;
  }
  .image:last-child {
    display: none;
  }
}

@media (max-width: 992px) {
  .container {
    padding-top: 0rem;
  }
  .image {
    margin-top: 2rem;
    width: 15.5rem;
    height: 28rem;
  }
  .imagesContainer {
    gap: 1rem;
  }
  .subtitle,
  .description {
    width: 44rem;
  }
}

@media (max-width: 768px) {
  .image {
    margin-top: 4rem;
    width: 12rem;
    height: 26rem;
  }
  .subtitle,
  .description {
    width: 40rem;
  }
}

@media (max-width: 640px) {
  .image:nth-last-child(2) {
    display: none;
  }
}

@media (max-width: 576px) {
  .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .image:nth-last-child(2) {
    display: block;
  }
  .image {
    margin-top: 2rem;
    width: 13.2rem;
    height: 26rem;
  }
  .image:last-child {
    display: block;
  }
  .imagesContainer {
    gap: 0rem;
    width: 100%;
  }
  .subtitle,
  .description {
    width: 100%;
    padding: 0 2rem;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .container {
    padding-top: 6rem;
  }
  .imagesContainer {
    flex-wrap: nowrap;
    margin-bottom: 10rem;
    margin-top: 1rem;
  }
}

@media (max-width: 375px) {
  .image {
    width: 10.5rem;
    height: 22rem;
  }
}

@media (max-width: 320px) {
  .image {
    width: 10rem;
    height: 22rem;
  }
}
