.content {
  padding: 0 5rem;
  padding-top: 12rem;
}

.loading,
.error {
  font-size: 4rem;
  color: black;
  padding: 10rem;
}

@media (max-width: 425px) {
  .content {
    padding: 12rem 3rem;
  }
}
