.statsContainer {
  display: flex;
  flex-direction: row;
  gap: 12rem;
}

.statItem {
  margin-bottom: 6rem;
}

.statNumber,
.statDescription {
  color: white;
  font-weight: bold;
}

.statNumber {
  margin: 0;
}

.desktopOnly {
  display: inline;
}

@media (max-width: 992px) {
  .statItem {
    margin-bottom: 4rem;
  }
}

@media (max-width: 425px) {
  .statNumber,
  .statDescription {
    font-size: 2.5rem;
    width: 15rem;
  }

  .statsContainer {
    gap: 3rem;
  }

  .statItem {
    margin-bottom: 1rem;
  }

  .desktopOnly {
    display: none;
  }
}
