.title {
  text-transform: lowercase;
  opacity: 0;
  transform: translateY(-20%);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.title.visible {
  opacity: 1;
  transform: translateY(0%);
}

.subtitle {
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(-20%);
  transition: opacity 0.6s ease 0.2s, transform 0.6s ease 0.2s;
}

.subtitle.visible {
  opacity: 1;
  transform: translateY(0%);
}

.whyChooseUsCardsContainer {
  width: 100%;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 0.6s ease 0.4s, transform 0.6s ease 0.4s;
}

.whyChooseUsCardsContainer.visible {
  opacity: 1;
  transform: translateY(0%);
}

@media (max-width: 576px) {
  .subtitle,
  .title {
    width: 100%;
    padding: 0 2rem;
    text-align: center;
  }
}
