.card {
  width: 31rem;
  padding: 4rem 2rem 7rem 2rem;
  border-radius: 4.5rem;
  background: #fff;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.06);
}

.icon {
  display: flex;
  justify-content: center;
  font-size: 4.5rem;
  color: rgb(0, 0, 0);
  margin-bottom: 3rem;
}

.title {
  line-height: 115%;
  letter-spacing: 3%;
  text-align: center;
  margin-bottom: 3rem;
}

.list {
  list-style-type: none;
}

.list li {
  font-size: 1.8rem;
  font-weight: 300;
  word-break: normal;
  text-align: center;
  margin-bottom: 1rem;
}

@media (max-width: 992px) {
  .card {
    width: 34.5rem;
  }
}

@media (max-width: 768px) {
  .card {
    width: 29rem;
    padding-bottom: 5rem;
  }
}

@media (max-width: 576px) {
  .card {
    width: 40rem;
    padding: 5rem 4rem;
  }
}

@media (max-width: 425px) {
  .card {
    width: 83%;
    padding: 5rem 2.4rem;
  }
  .icon {
    font-size: 6rem;
  }
  .list li {
    font-size: 2.15rem;
  }
  .card:not(:last-child) {
    margin-bottom: 2rem;
  }
}
