.form {
  background-color: rgba(39, 36, 36, 0.85);
  padding: 4.5rem 3rem;
  border-radius: 4.5rem;
  margin: 0;
}

.form__title {
  color: white;
  font-size: 3rem;
  margin-bottom: 2rem;
  line-height: 130%;
  text-transform: uppercase;
}

.form__group {
  margin-bottom: 4rem;
}

.form__label {
  display: none;
}

.form__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  font-size: 1.8rem;
  color: #ffffff;
  padding: 8px 0;
  width: 100%;
  outline: none;
}

.form__button {
  margin-top: 1rem;
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: none;
  font-size: 1.6rem;
  transition: transform 0.2s ease;
  cursor: pointer;
  background-color: white;
}

.form__button:hover {
  transform: scale(1.08);
}

.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.eyeIcon {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.error {
  color: orange;
  font-size: 2rem;
}
