.card {
  width: 95%;
  height: 80%;
  background: #fff;
  transition: transform 0.3s ease;
  border-radius: 5rem;
  overflow: hidden;
}

.image {
  width: 100%;
  margin-bottom: 1rem;
  object-fit: cover;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
}
.textContainer {
  padding: 0 12rem 5.4rem 2rem;
}

.title {
  color: black;
  font-weight: 500;
}
.subtitle {
  font-size: 2rem;
}

@media (max-width: 1200px) {
  .card {
    height: 46rem;
  }
}

@media (max-width: 992px) {
  .textContainer {
    padding: 0 2rem 5rem 2rem;
  }
  .image {
    height: 25rem;
  }
}

@media (max-width: 768px) {
  .card {
    width: 40rem;
    height: 50rem;
  }
}

@media (max-width: 576px) {
  .card {
    height: 47rem;
  }
}

@media (max-width: 425px) {
  .card {
    height: 42rem;
  }
  .image {
    height: 21rem;
    margin-bottom: 2rem;
  }
  .textContainer {
    text-align: center;
  }
  .subtitle {
    font-size: 1.8rem;
  }
}
