.container {
  padding-top: 14rem;
}

.title {
  text-transform: lowercase;
}

.subtitle {
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .subtitle,
  .title {
    width: 100%;
    padding: 0 2rem;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .container {
    padding-top: 0rem;
  }
}
